# q1. assignment:4
model is predictiong 90% accuracy and has a precision of 0.9 and recall of 0.9 for both classes(test and train).

# why this model only ????
we chosen the svm model for this classsifictaion because it is a linear model and can handle high dimensional data and can easiy handle small to medium problemr like iris df.

In [2]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [4]:
df=sns.load_dataset('iris')
print(df.shape)

(150, 5)

In [ ]:
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
df_filtered=df[df["species"].isin(["versicolor","virginica"])]
df_final=df_filtered[df_filtered["petal_length"]>df['petal_length'].mean()]

In [11]:
x_train,x_test,y_train,y_test=train_test_split(df_final.drop('species',axis=1),df_final['species'],test_size=0.2,random_state=42)

In [12]:
model=SVC(kernel='linear').fit(x_train,y_train)

In [13]:
accuracy=accuracy_score(y_test,model.predict(x_test))
print(accuracy)

0.8947368421052632

In [14]:
classification_report(y_test,model.predict(x_test))

'              precision    recall  f1-score   support\n\n  versicolor       0.91      0.91      0.91        11\n   virginica       0.88      0.88      0.88         8\n\n    accuracy                           0.89        19\n   macro avg       0.89      0.89      0.89        19\nweighted avg       0.89      0.89      0.89        19\n'